
body {
    
    
    padding: 0px;
    font-family: sans-serif;
    color: black;
  }

a{
    color: black;
 }

a:hover {
    background-color: yellow;
    font-weight: bold;
  }
a:active{
    font-weight: bold;

}

hr {
    height: 5px;
    color:black;
    background-color:black;
    width: 100%;
}

.row-header {
    display: flex;
    justify-content: center;
    align-items: start; 
    width: 100%;
   
 
  }
.logo-div{
    flex: 0 0 auto;
}
.hr-div{
    flex: 1 0 auto;
    padding: 5px;
}

.logo-main{   
    width: 100% ;
    height: 100% ;
}


.logo{
    width: 350px;
    height: 300px;
    border: 3px solid black;

}


.nav-links{
    text-align: right;
    line-break: loose;       
    color: black;
    padding: 20px;
    display: flex;
    align-items: right;
    justify-content: flex-end;

}

.tab-div{
    flex: 0 0 auto;
    padding: 20px;
}

h1{
    text-align: left;
    justify-content: center;
    padding: 20px;
}


.gallery-content{
    text-align: left;
    color: black;
    padding: 20px;
    
    
}
.gallery-row-1 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
    
    
}
.gallery-row-2 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
    
    
}

.gallery{
    height: auto;
    width: auto;
    padding:10px;
}
/* center alignment for was not working with the cart page due to conflicts*/

.content-cart{
    margin: 300px;
    text-align: center;
  
}
.cart-gallery{
    text-align: center;
    width:350px;
    height:350px;
    
}
.image-cart{
    text-align: center;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    
}

.details-content{
    text-align: center;

}

.image{
    width: 300px;
    height:200px;
    border: 3px solid black;
    
}

.customize-desc{
    width: 300px;
    padding:10px;
    margin:auto;

}
.button {
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.button1 {background-color: white;}



